<main role="main" class="no-section-nav">

    <section class="section" ng-if="!$ctrl.exhibitIsPublic">
        <h4>This exhibit is not public.</h4>
    </section>

    <section class="section" ng-if="$ctrl.exhibitIsPublic">
        <div class="container">
            <div id="gridster" gridster="$ctrl.gridsterOpts">
                <ul id="tiles">
                    <li class="shadow-3" gridster-item row="tile.row" col="tile.col" size-x="tile.sizeX" size-y="tile.sizeY"
                        ng-repeat="tile in $ctrl.tiles">

                        <figure>
                            <iframe ng-src="{{tile.url | trusted}}" contentid="{{tile.contentId}}" scale="$ctrl.config"></iframe>
                            <figcaption>
                                <h4>{{tile.title}}</h4>
                            </figcaption>
                        </figure>

                    </li>
                </ul>
            </div>
        </div>
    </section>

</main>