<style>
  #gridster {
    margin: 50px;
  }
</style>

<div id="avl-shim">
  <div id="avl-preview">

    <div id="gridster" gridster="$ctrl.gridsterOpts">
      <ul id="tiles">
        <li class="shadow-3" gridster-item row="tile.row" col="tile.col" size-x="tile.sizeX" size-y="tile.sizeY"
          ng-repeat="tile in $ctrl.tiles">

          <figure>

            <iframe ng-src="{{tile.url | trusted}}" scale="$ctrl.config"></iframe>

            <div ng-show="$ctrl.showfigcap">
              <figcaption>
                <h4>{{tile.title}}</h4>
              </figcaption>
            </div>
          </figure>

        </li>
      </ul>
    </div>

    <div id="bezels">
      <div ng-repeat="pos in $ctrl.bezelPosVertical" class="bezel vertical" ng-style="{ top: pos + 'px' }"></div>
      <div ng-repeat="pos in $ctrl.bezelPosHorizontal" class="bezel horizontal" ng-style="{ left: pos + 'px' }"></div>
    </div>

  </div>
</div>