<style>
  #gridster {
    margin: 50px;
  }

  #over {
    color: black;
    -webkit-text-fill-color: white;
    /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 5px;
    -webkit-text-stroke-color: black;
    font-size: 15em;
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 2
  }

  .gridlist {
    background: rgba(174, 167, 159, 1);
    z-index: -1
  }
</style>

<div id="avl-shim">
  <div id="avl-preview">

    <div id="gridster" gridster="$ctrl.gridsterOpts">
      <ul id="tiles">
        <li id="{{tile.id}}" class="shadow-3 gridlist" gridster-item row="tile.row" col="tile.col" size-x="tile.sizeX"
          size-y="tile.sizeY" ng-repeat="tile in $ctrl.tiles">

          <figure>

            <iframe ng-src="{{tile.url | trusted}}" contentid="{{tile.contentId}}" scale="$ctrl.config"></iframe>
        
            <div id="over" ng-if="$ctrl.idswitch">{{tile.id}}</div>

            <figcaption>
              <h4>{{tile.title}}</h4>
            </figcaption>

          </figure>

        </li>
      </ul>
    </div>

    <div id="bezels">
      <div ng-repeat="pos in $ctrl.bezelPosVertical" class="bezel vertical" ng-style="{ top: pos + 'px' }"></div>
      <div ng-repeat="pos in $ctrl.bezelPosHorizontal" class="bezel horizontal" ng-style="{ left: pos + 'px' }"></div>
    </div>

  </div>
</div>