<style>
  #gridster {
    margin: 50px;
  }

  .container-identity {
    position: absolute;
    top: 0rem;
    left: 0rem;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.75);
    border: 2rem solid white;
    padding-left: 5rem;
    color: white;
    font-size: 15rem;
  }

  .gridlist {
    background: white;
    z-index: -1
  }
</style>

<div id="avl-shim">
  <div id="avl-preview">

    <div id="gridster" gridster="$ctrl.gridsterOpts">
      <ul id="tiles">
        <li id="{{tile.id}}" class="shadow-3 gridlist" gridster-item row="tile.row" col="tile.col" size-x="tile.sizeX"
          size-y="tile.sizeY" ng-repeat="tile in $ctrl.tiles">

          <figure>

            <iframe ng-src="{{tile.url | trusted}}" contentid="{{tile.contentId}}" scale="$ctrl.config"></iframe>

            <div class="container-identity" ng-if="$ctrl.idswitch">{{tile.id}}</div>

            <figcaption>
              <h4>{{tile.title}}</h4>
            </figcaption>

          </figure>

        </li>
      </ul>
    </div>

    <div id="bezels">
      <div ng-repeat="pos in $ctrl.bezelPosVertical" class="bezel vertical" ng-style="{ top: pos + 'px' }"></div>
      <div ng-repeat="pos in $ctrl.bezelPosHorizontal" class="bezel horizontal" ng-style="{ left: pos + 'px' }"></div>
    </div>

  </div>
</div>
