# Copyright (C) 2019 The Trustees of Indiana University
# SPDX-License-Identifier: BSD-3-Clause
frontend/node_modules
php/vendor
php/composer.lock
php/composer.phar
php/crate-3.1.3.tar.gz
php/crate-3.1.3