<main role="main" class="no-section-nav">
    <section class="section">
        <div class="row pad" id="search">
            <form>
                <div class="form-item">

                    <div class="form-item-label">
                        <label for="search">Check if X-Frame-Options is available in a site's HTTP response headers</label>
                    </div>
                    <div class="form-item-input">
                        <input type="text" name="search" id="search" ng-model="$ctrl.searchURL" placeholder="Type Your Website URL">
                    </div>

                    <div>
                        <button class="button" ng-click="$ctrl.search()">Test URL</button>
                    </div>

                </div>
            </form>
        </div>
    </section>

    <section class="section">
        <div class="content">
            <div ng-class="$ctrl.message_style">
                <p>{{$ctrl.info_message}}</p>
            </div>
        </div>
    </section>
</main>