<main role="main" class="no-section-nav">
    <section class="section">
        <div class="row pad" id="search">
            <form>
                <div class="form-item">

                    <fieldset>
                        <legend>Faceted Search</legend>
                        <div class="form-item-label">
                            <label for="search">Search for metadata fields</label>
                        </div>
                        <div class="form-item-input">
                            <input type="text" name="search" id="search" ng-model="$ctrl.searchString" ng-change="$ctrl.updateSearch()"
                                placeholder="Search exhibits">
                        </div>

                        <div>
                            <label for="colearch">Display wall number of columns (1-100):</label>
                        </div>
                        <div>
                            <input type="number" id="colearch" name="colearch" ng-model="$ctrl.colSearch" min="1" max="100"
                                placeholder="#" ng-change="$ctrl.updateSearch()">
                        </div>

                        <div>
                            <label for="rowsearch">Display wall number of rows (1-100):</label>
                        </div>
                        <div>
                            <input type="number" id="rowsearch" name="rowsearch" ng-model="$ctrl.rowSearch" min="1" max="100"
                                placeholder="#" ng-change="$ctrl.updateSearch()">
                        </div>
                    </fieldset>

                    <fieldset>
                        <legend>Common Layouts</legend>


                        <input type="checkbox" id="3by3" name="3by3" ng-model="$ctrl.threeByThreeCheckbox" , ng-change="$ctrl.updateSearch()">
                        <label for="3by3">3 X 3</label>
                        <img class="layout-image-thumbnail" alt="" src="assets/3by3.png">

                        <input type="checkbox" id="4by4" name="4by4" ng-model="$ctrl.fourByFourCheckbox" , ng-change="$ctrl.updateSearch()">
                        <label for="4by4">4 X 4</label>
                        <img class="layout-image-thumbnail" alt="" src="assets/4by4.png">
                    </fieldset>

                    <fieldset>
                        <legend>Custom Layouts</legend>
                        <input type="checkbox" id="customized" name="customized" ng-model="$ctrl.customizedLayoutCheckbox"
                            ng-change="$ctrl.updateSearch()">
                        <label for="customized">M X N</label>

                        <div ng-if="$ctrl.customizedLayoutCheckbox">
                            <input type="number" name="custcol" ng-model="$ctrl.custCol" min="1" max="100" placeholder="1"
                                ng-change="$ctrl.updateSearch()">

                            <label for="custcol">columns</label>

                            <input type="number" name="custrow" ng-model="$ctrl.custRow" min="1" max="100" placeholder="1"
                                ng-change="$ctrl.updateSearch()">
                            <label for="custrow">rows</label>
                        </div>
                    </fieldset>

                </div>
            </form>
        </div>
    </section>

    <section class="section">
        <div class="row pad">
            <div class="grid">
                <div class="grid-item">
                    <div class="two-thirds">
                        <h2 class="section-title">
                            <span ng-show="$ctrl.searchString.length > 0 || $ctrl.rowSearch || $ctrl.colSearch">Search
                                Results: </span>{{
                            $ctrl.exhibits.length }}
                            <ng-pluralize count="$ctrl.exhibits.length" when="{'0': 'Exhibits', 'one':'Exhibit', 'other': 'Exhibits'}"></ng-pluralize>
                        </h2>
                    </div>
                    <div class="one-third">
                        <select class="form-control" ng-model="$ctrl.sortBy">
                            <option value="-_score">Relevance</option>
                            <option value="title">Title</option>
                            <option value="last_modified_time">Recently updated</option>
                            <option value="-create_time">Creation time</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="alert alert-warning" ng-if="$ctrl.exhibits.length === 0 && ($ctrl.searchString.length > 0 
                || $ctrl.rowSearch || $ctrl.colSearch 
                || $ctrl.threeByThreeCheckbox
                || $ctrl.fourByFourCheckbox
                || $ctrl.customizedLayoutCheckbox)">
                No exhibits found for criteria:

                <div class="alert alert-warning" ng-if="$ctrl.searchString.length > 0">search string:
                    "{{$ctrl.searchString}}"</div>
                <div class="alert alert-warning" ng-if="$ctrl.colSearch"># of columns: "{{$ctrl.colSearch}}"</div>
                <div class="alert alert-warning" ng-if="$ctrl.rowSearch"># of rows: "{{$ctrl.rowSearch}}"</div>
                <div class="alert alert-warning" ng-if="$ctrl.threeByThreeCheckbox">common 3 by 3 grid</div>
                <div class="alert alert-warning" ng-if="$ctrl.fourByFourCheckbox">common 4 by 4 grid</div>
                <div class="alert alert-warning" ng-if="$ctrl.customizedLayoutCheckbox">custom {{$ctrl.custCol}} by
                    {{$ctrl.custRow}} grid</div>

            </div>
            <div class="grid thirds">

                <div class="container" id="exhibit-{{exhibit.id}}" ng-repeat="exhibit in $ctrl.exhibits | orderBy:$ctrl.sortBy track by exhibit.id">
                    <div class="panel--interactive">
                        <a href="exhibits/{{ exhibit.id }}">


                            <!-- <figure class="media image">
                                <img id="image-thumbnail" ng-if="!exhibit.snapshot_ref" alt="" src="https://placehold.it/160x120">
                                <img id="image-thumbnail" ng-if="exhibit.snapshot_ref" ng-style="{'background-image':'url({{$ctrl.apiHost}}/snapshot/{{exhibit.snapshot_ref}})'}">
                            </figure> -->


                            <div>
                                <h2 class="title">{{ exhibit.title }}</h2>
                                <p>
                                    {{ exhibit.description | limitTo: 60 }}{{exhibit.description.length > 50 ? '...' :
                                    ''}}
                                </p>
                            </div>

                        </a>

                        <div>
                            <drawdisplay rows="{{exhibit.rows}}" cols="{{exhibit.columns}}"><canvas></canvas></drawdisplay>
                            <p>{{exhibit.columns}} X {{exhibit.rows}}</p>
                        </div>

                        <div>
                            <drawgrid config="exhibit.config"><canvas></canvas></drawgrid>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
</main>