<main role="main" class="no-section-nav">
  <section class="section">
    <h1>Search for collections</h1>
    <!-- <div class="row pad" id="search"> -->
    <form>
      <div class="grid-x grid-margin-x large-up-2">
        <div class="cell">
          <fieldset>
            <!-- <legend><h3>Search</h3></legend> -->
            <label for="search">
              <g-octicon icon="search" aria-label="Search"></g-octicon>
              Search for metadata fields
              <input type="text" name="search" id="search" ng-model="$ctrl.searchString"
                ng-change="$ctrl.updateSearch()" placeholder="Enter search terms">
            </label>

            <!-- <div>
                            <label for="colearch">Display wall number of columns (1-100):</label>
                        </div>
                        <div>
                            <input type="number" id="colearch" name="colearch" ng-model="$ctrl.colSearch" min="1" max="100"
                                placeholder="#" ng-change="$ctrl.updateSearch()">
                        </div>

                        <div>
                            <label for="rowsearch">Display wall number of rows (1-100):</label>
                        </div>
                        <div>
                            <input type="number" id="rowsearch" name="rowsearch" ng-model="$ctrl.rowSearch" min="1" max="100"
                                placeholder="#" ng-change="$ctrl.updateSearch()">
                        </div> -->
          </fieldset>
        </div>
        <div class="cell">
          <fieldset>
            <legend>
              <h3>Filter by display configuration</h3>
            </legend>


            <input type="checkbox" id="3by3" name="3by3" ng-model="$ctrl.threeByThreeCheckbox"
              ng-change="$ctrl.updateSearch()">
            <label for="3by3">3 X 3</label>
            <img class="layout-image-thumbnail" alt="" src="assets/3by3.png">

            <input type="checkbox" id="4by4" name="4by4" ng-model="$ctrl.fourByFourCheckbox"
              ng-change="$ctrl.updateSearch()">
            <label for="4by4">4 X 4</label>
            <img class="layout-image-thumbnail" alt="" src="assets/4by4.png">
          </fieldset>

          <fieldset>
            <legend>Custom Layouts</legend>
            <input type="checkbox" id="customized" name="customized" ng-model="$ctrl.customizedLayoutCheckbox"
              ng-change="$ctrl.updateSearch()">
            <label for="customized">M X N</label>

            <div ng-if="$ctrl.customizedLayoutCheckbox">
              <label for="custcol">
                Columns
                <input type="number" name="custcol" ng-model="$ctrl.custCol" min="1" max="100" placeholder="1"
                  ng-change="$ctrl.updateSearch()">
              </label>
              <label for="custrow">
                Rows
                <input type="number" name="custrow" ng-model="$ctrl.custRow" min="1" max="100" placeholder="1"
                  ng-change="$ctrl.updateSearch()">
              </label>
            </div>
          </fieldset>
        </div>
      </div>
    </form>
    <!-- </div> -->
  </section>

  <section class="section">
    <div class="row pad">
      <div class="grid-x grid-margin-x">
        <div class="cell shrink">
          <h2 class="section-title">
            <span ng-show="$ctrl.searchString.length > 0 || $ctrl.rowSearch || $ctrl.colSearch">
              Search Results: </span>{{ $ctrl.exhibits.length }}
            <ng-pluralize count="$ctrl.exhibits.length" when="{'0': 'Exhibits', 'one':'Exhibit', 'other': 'Exhibits'}">
            </ng-pluralize>
          </h2>
        </div>
        <div class="cell auto"></div>
        <div class="cell shrink">
          <label>Sort by:
            <select ng-model="$ctrl.sortBy">
              <option value="-_score">Relevance</option>
              <option value="title">Title</option>
              <option value="last_modified_time">Recently updated</option>
              <option value="-create_time">Creation time</option>
            </select>
          </label>
        </div>
      </div>
      <div class="callout warning" ng-if="$ctrl.exhibits.length === 0 && ($ctrl.searchString.length > 0
                || $ctrl.rowSearch || $ctrl.colSearch
                || $ctrl.threeByThreeCheckbox
                || $ctrl.fourByFourCheckbox
                || $ctrl.customizedLayoutCheckbox)">
        No exhibits found for criteria:

        <div ng-if="$ctrl.searchString.length > 0">search string:
          "{{$ctrl.searchString}}"</div>
        <div ng-if="$ctrl.colSearch"># of columns: "{{$ctrl.colSearch}}"</div>
        <div ng-if="$ctrl.rowSearch"># of rows: "{{$ctrl.rowSearch}}"</div>
        <div ng-if="$ctrl.threeByThreeCheckbox">common 3 by 3 grid</div>
        <div ng-if="$ctrl.fourByFourCheckbox">common 4 by 4 grid</div>
        <div ng-if="$ctrl.customizedLayoutCheckbox">custom {{$ctrl.custCol}} by
          {{$ctrl.custRow}} grid</div>

      </div>
      <div class="grid-x grid-margin-x small-up-1 medium-up-2 large-up-4">

        <div class="card cell" id="exhibit-{{exhibit.id}}"
          ng-repeat="exhibit in $ctrl.exhibits | orderBy:$ctrl.sortBy track by exhibit.id">

          <div class="card-section">
            <a href="exhibits/{{ exhibit.id }}">
              <h2 class="title">{{ exhibit.title }}</h2>
            </a>
            <p>
              {{ exhibit.description | limitTo: 60 }}{{exhibit.description.length > 50 ? '...' :
                            ''}}
            </p>
          </div>
          <div class="card-section">
            <display-thumbnail config=exhibit></display-thumbnail>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
