<main role="main" class="no-section-nav">

  <section class="section" ng-if="!$ctrl.exhibitIdIsValid">
    <div ng-class="$ctrl.message_style">
      <h4 class="text-center">{{$ctrl.info_message}}</h4>
    </div>
  </section>


  <section class="section" ng-if="$ctrl.exhibitIdIsValid">

    <section class="section" ng-if="!$ctrl.exhibitIsPublic && !$ctrl.isOwner">

      <section class="section" ng-if="!$ctrl.authentication.isAuthorized">
        <h4>This exhibit is not public. If you are the owner, please log in.</h4>
      </section>

      <section class="section" ng-if="$ctrl.authentication.isAuthorized">
        <h4>You are not the owner of this private exhibit.</h4>
      </section>

    </section>

    <section class="section" ng-if="$ctrl.exhibitIsPublic || $ctrl.isOwner">
      <div class="row pad">
        <exhibit-config-preview config="$ctrl.config" idswitch="$ctrl.containerIdOnOffSwitch" livepreview="true"></exhibit-config-preview>

        <exhibit-config-display config="$ctrl.config"></exhibit-config-display>

      </div>

      <div class="row pad">
        <h5>Show container identification</h5>

        <button class="button" ng-click="$ctrl.switchContainerId()">On/Off</button>
      </div>

      <div class="text-center section bg-gray" ng-if="$ctrl.isOwner">
        <h4>Modify this exhibit</h4>
        <ul class="button-group">
          <li>
            <button class="button invert" ng-click="$ctrl.goToEdit()">Edit</button>
          </li>
          <li>
            <button class="button" ng-click="$ctrl.delete()">Delete</button>
          </li>
        </ul>

        <div ng-show="$ctrl.confirmDelete" ng-class="$ctrl.message_style">
          <h5 class="text-center">{{$ctrl.info_message}}</h5>
          <ul class="button-group">
            <li>
              <button class="button primary float-center" ng-click="$ctrl.deleteYes()">Yes</button>
            </li>
            <li>
              <button class="button primary float-center" ng-click="$ctrl.deleteNo()">No</button>
            </li>
          </ul>
        </div>

        <div ng-show="$ctrl.acknowledgeDelete" ng-class="$ctrl.message_style">
          <h5 class="text-center">{{$ctrl.info_message}}</h5>
          <button class="button success float-center" ng-click="$ctrl.deleteAcknowledge()">Continue...</button>
        </div>

      </div>

      <div class="section">
        <div class="row pad">
          <button class="button invert" ng-click="$ctrl.goToExhibits()">Return to search</button>
        </div>
      </div>

    </section>
  </section>

</main>