<main role="main" class="no-section-nav">

  <section class="section" ng-if="!$ctrl.exhibitIdIsValid">
    <div ng-class="$ctrl.message_style">
      <h4 class="text-center">{{$ctrl.info_message}}</h4>
    </div>
  </section>


  <section class="section" ng-if="$ctrl.exhibitIdIsValid">

    <section class="section" ng-if="!$ctrl.exhibitIsPublic && !$ctrl.isOwner">

      <section class="section" ng-if="!$ctrl.authentication.isAuthorized">
        <h4>This exhibit is not public. If you are the owner, please log in.</h4>
      </section>

      <section class="section" ng-if="$ctrl.authentication.isAuthorized">
        <h4>You are not the owner of this private exhibit.</h4>
      </section>

    </section>

    <section class="section" ng-if="$ctrl.exhibitIsPublic || $ctrl.isOwner">

      <div class="row pad">
        <exhibit-config-preview config="$ctrl.config" idswitch="$ctrl.containerIdOnOffSwitch" livepreview="true">
        </exhibit-config-preview>

        <exhibit-config-display config="$ctrl.config"></exhibit-config-display>

      </div>

      <div>
        <label>Identify containers</label>
        <div class="switch">
          <input class="switch-input" id="identify" type="checkbox" name="identifyContainers"
            ng-model="$ctrl.containerIdOnOffSwitch">
          <label class="switch-paddle" for="identify">
            <span class="show-for-sr">Identify containers</span>
            <span class="switch-active" aria-hidden="true">Yes</span>
            <span class="switch-inactive" aria-hidden="true">No</span>
          </label>
        </div>
      </div>

      <div class="row pad">
        <button class="button" ng-click="$ctrl.goToDisplay()">Go to display</button>
      </div>

      <div class="row pad" ng-if="$ctrl.authentication.isAuthorized && !$ctrl.isOwner">
        <button class="button" ng-click="$ctrl.fork()">Fork</button>
      </div>

      <div class="row pad" ng-if="$ctrl.isOwner">
        <h4>Modify this exhibit</h4>
        <div class="button-group">
          <button class="button warning" ng-click="$ctrl.goToEdit()">Edit</button>
          <button class="button alert" ng-click="$ctrl.delete()">Delete</button>
        </div>
        <div ng-show="$ctrl.confirmDelete" ng-class="$ctrl.message_style">
          <h5 class="text-center">{{$ctrl.info_message}}</h5>
          <ul class="button-group">
            <button class="button alert" ng-click="$ctrl.deleteYes()">Yes</button>
            <button class="button secondary float-center" ng-click="$ctrl.deleteNo()">No</button>
          </ul>
        </div>

        <div ng-show="$ctrl.acknowledgeDelete" ng-class="$ctrl.message_style">
          <h5 class="text-center">{{$ctrl.info_message}}</h5>
          <button class="button success float-center" ng-click="$ctrl.deleteAcknowledge()">Continue...</button>
        </div>

      </div>

      <div class="section">
        <div class="row pad">
          <button class="button invert" ng-click="$ctrl.goToExhibits()">Return to search</button>
        </div>
      </div>

    </section>
  </section>

</main>