<!-- <header class="site-header" itemscope="itemscope" itemtype="http://schema.org/CollegeOrUniversity" role="banner" ng-if="!$ctrl.displayMode">
    <div class="row pad">
        <h4><a class="title" href="exhibits/" itemprop="department">Hello Collectome</a></h4>
        <login-button class="float-right"></login-button>
    </div>
</header> -->



<nav ng-if="!$ctrl.displayMode" class="top-bar topbar-responsive">
    <div class="top-bar-title">
      <!-- <span data-responsive-toggle="topbar-responsive" data-hide-for="medium">
        <button class="menu-icon" type="button" data-toggle></button>
      </span> -->
      <a class="topbar-responsive-logo" href="exhibits/"><strong>Collectome</strong></a>
    </div>
    <div id="topbar-responsive" class="topbar-responsive-links">
      <div class="top-bar-right">
        <ul class="menu simple vertical medium-horizontal">
          <!-- <li><a href="#">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Services</a></li>
          <li><a href="#">Works</a></li>
          <li><a href="#">News</a></li>
          <li><a href="#">Contact</a></li>
          <li>
            <button type="button" class="button hollow topbar-responsive-button">Categories</button>
          </li> -->
          <li>
            <login-button class="float-right"></login-button>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  
  