<main role="main" class="no-section-nav">


    <div ng-show="$ctrl.exhibitId" ng-class="$ctrl.message_success">
        <h5 class="text-center">{{$ctrl.message_content}}</h5>
        <button class="button success float-center" ng-click="$ctrl.goToCreated()">View exhibit</button>
    </div>


    <section class="section">
        <div class="row pad">
            <exhibit-config-preview config="$ctrl.config" showfigcap="$ctrl.showfigcap" idswitch="$ctrl.containerIdOnOffSwitch"></exhibit-config-preview>

            <exhibit-config-editor config="$ctrl.config" on-update="$ctrl.updateConfig(config)"></exhibit-config-editor>

            <div class="row pad">
                <h5>Show container identification</h5>
        
                <button class="button" ng-click="$ctrl.switchContainerId()">On/Off</button>
              </div>
        </div>


        <div class="content">
            <div class="text-center section bg-gray" ng-if="$ctrl.authentication.isAuthorized">

                <h4>Create this exhibit</h4>

                <button class="button" ng-click="$ctrl.save()">Submit changes</button>

                <div ng-class="$ctrl.message_style">
                    <p>{{$ctrl.info_message}}</p>
                </div>
            </div>
            <div class="section">
                <div class="row pad">
                    <button class="button invert" ng-click="$ctrl.goToExhibits()">Return to search</button>
                </div>
            </div>
        </div>

    </section>

</main>