<main role="main" class="main-top-margin">
  <div class="grid-container">
    <section ng-if="$ctrl.notify">
      <div class="callout" ng-class="$ctrl.notificationStyle">
        <p class="text-center h5">{{$ctrl.notificationMessage}}</p>
      </div>
    </section>

    <section class="section" ng-if="$ctrl.playlistIdIsValid">
      <h2>
        {{$ctrl.config.metadata.name}}
        <small>{{$ctrl.playlistId}}</small>
      </h2>

      <section ng-if="$ctrl.playlistIsPublic || $ctrl.userIsOwner">
        <playlist-config-display
          config="$ctrl.config"
        ></playlist-config-display>

        <br />

        <div>
          <a
            ng-href="playlist-display/{{$ctrl.playlistId}}"
            target="_blank"
            rel="noopener noreferrer"
          >
            <angularjs-feather icon="external-link"></angularjs-feather>
            View this playlist in exhibit mode
          </a>
        </div>

        <br />

        <div ng-if="$ctrl.authentication.isAuthorized && !$ctrl.userIsOwner">
          <button class="button" ng-click="$ctrl.fork()">
            <angularjs-feather icon="copy"></angularjs-feather>
            Copy this playlist
          </button>
        </div>

        <div
          ng-if="$ctrl.userIsOwner || $ctrl.authentication.isAdmin"
          class="text-center callout"
          ng-class="$ctrl.authentication.isAdmin && !$ctrl.userIsOwner ? 'warning': 'secondary'"
        >
          <h4 ng-if="$ctrl.userIsOwner">Modify this playlist</h4>
          <h4 ng-if="!$ctrl.userIsOwner">
            Modify this playlist <em>as admin</em>
          </h4>

          <div class="button-group float-center">
            <a
              class="button primary"
              ng-href="playlists/{{$ctrl.playlistId}}/edit"
            >
              <angularjs-feather icon="edit-2"></angularjs-feather>
              Edit
            </a>
            <button class="button alert" ng-click="$ctrl.delete()">
              <angularjs-feather icon="trash"></angularjs-feather>
              Delete
            </button>
          </div>
          <div ng-if="$ctrl.confirmDelete" class="callout alert">
            <p class="text-center h5">
              Are you sure you want to delete this playlist?
            </p>
            <div class="button-group float-center">
              <button class="button alert" ng-click="$ctrl.deleteYes()">
                Delete
              </button>
              <button
                class="button secondary hollow"
                ng-click="$ctrl.deleteNo()"
              >
                Cancel
              </button>
            </div>
          </div>

          <div
            ng-if="$ctrl.acknowledgeDelete"
            class="callout"
            ng-class="$ctrl.notificationStyle"
          >
            <p class="text-center h5">{{$ctrl.notificationMessage}}</p>
            <a class="button secondary hollow" href="playlists">
              <angularjs-feather icon="search"></angularjs-feather>
              Back to search
            </a>
          </div>
        </div>

        <a class="button hollow" href="playlists">
          <angularjs-feather icon="arrow-left"></angularjs-feather>
          Back to search
        </a>
      </section>
    </section>
  </div>
</main>
