<main role="main" class="main-top-margin">
  <div class="grid-container">
    <section class="section" ng-if="!$ctrl.playlistIdIsValid">
      <div ng-class="$ctrl.message_style">
        <h4 class="text-center">{{$ctrl.info_message}}</h4>
      </div>
    </section>

    <section class="section" ng-if="$ctrl.playlistIdIsValid">

      <h2>
        {{$ctrl.config.metadata.name}}
        <small>{{$ctrl.playlistId}}</small>
      </h2>

      <section class="section" ng-if="!$ctrl.playlistIsPublic && !$ctrl.isOwner">

        <section class="section" ng-if="!$ctrl.authentication.isAuthorized">
          <h4>This playlist is not public. If you are the owner, please log in.</h4>
        </section>

        <section class="section" ng-if="$ctrl.authentication.isAuthorized">
          <h4>You are not the owner of this private playlist.</h4>
        </section>
      </section>

      <section class="section" ng-if="$ctrl.playlistIsPublic || $ctrl.isOwner">

        <playlist-config-display config="$ctrl.config"></playlist-config-display>

        <br>

        <div>
          <a ng-href="/playlist-display/{{$ctrl.playlistId}}" target="_blank" rel="noopener noreferrer">
            <angularjs-feather icon="external-link"></angularjs-feather>
            View this playlist in exhibit mode
          </a>
        </div>

        <br>

        <div ng-if="$ctrl.authentication.isAuthorized && !$ctrl.isOwner">
          <button class="button" ng-click="$ctrl.fork()">
            <angularjs-feather icon="copy"></angularjs-feather>
            Copy this playlist
          </button>
        </div>

        <div ng-if="$ctrl.isOwner" class="text-center callout secondary">
          <h4>Modify this playlist</h4>
          <div class="button-group float-center">
            <button class="button primary" ng-click="$ctrl.goToEdit()">
              <angularjs-feather icon="edit-2"></angularjs-feather>
              Edit
            </button>
            <button class="button alert" ng-click="$ctrl.delete()">
              <angularjs-feather icon="trash"></angularjs-feather>
              Delete
            </button>
          </div>
          <div ng-show="$ctrl.confirmDelete" ng-class="$ctrl.message_style">
            <h5 class="text-center">{{$ctrl.info_message}}</h5>
            <div class="button-group float-center">
              <button class="button alert" ng-click="$ctrl.deleteYes()">Yes</button>
              <button class="button secondary" ng-click="$ctrl.deleteNo()">No</button>
            </div>
          </div>

          <div ng-show="$ctrl.acknowledgeDelete" ng-class="$ctrl.message_style">
            <h5 class="text-center">{{$ctrl.info_message}}</h5>
            <button class="button success float-center" ng-click="$ctrl.deleteAcknowledge()">Continue...</button>
          </div>

        </div>

        <div>
          <button class="button hollow" ng-click="$ctrl.goToPlaylists()">
            <angularjs-feather icon="arrow-left"></angularjs-feather>
            Back to search
          </button>
        </div>

      </section>
    </section>
  </div>
</main>
