<style>
    #login-name {
        color: white;
    }
</style>

<span ng-if="!$ctrl.authentication.isAuthorized">
    <button class="button secondary float-right" ng-click="$ctrl.authenticateAsGitHubUser()">
        <g-octicon icon="sign-in" aria-label="Sign in"></g-octicon>
        Log in via <g-octicon icon="logo-github" aria-label="GitHub Logo"></g-octicon>
    </button>
</span>
<span ng-if="$ctrl.authentication.isAuthorized">
    <span id="login-name">
        <g-octicon icon="mark-github" aria-label="GitHub"></g-octicon>
        Logged in as {{$ctrl.username}}
    </span>
    <button class="button float-center" ng-click="$ctrl.goToExhibitCreate()">
        <g-octicon icon="plus" aria-label="Plus"></g-octicon>
        Create new project
    </button>
</span>