<style>
    #login-name {
        color: white;
    }
</style>

<span ng-if="!$ctrl.authentication.isAuthorized">
    <button class="button secondary float-right" ng-click="$ctrl.authenticateAsGitHubUser()">
        <angularjs-feather icon="log-in"></angularjs-feather>
        Log in with GitHub
    </button>
</span>
<span ng-if="$ctrl.authentication.isAuthorized">
    <span id="login-name">Logged in as
      <strong>
        <angularjs-feather icon="github"></angularjs-feather>
        {{$ctrl.username}}
      </strong>
    </span>
    <button class="button float-center" ng-click="$ctrl.goToExhibitCreate()">
        <angularjs-feather icon="plus"></angularjs-feather>
        Create new project
    </button>
</span>
