<main role="main" class="main-top-margin">
  <div class="grid-container">
    <div ng-show="$ctrl.playlistId" ng-class="$ctrl.message_success">
      <h5 class="text-center">{{$ctrl.message_content}}</h5>
      <button
        class="button success float-center"
        ng-click="$ctrl.goToCreated()"
      >
        View new playlist
      </button>
    </div>

    <section class="section">
      <h1>Create new playlist</h1>

      <h4>Instructions:</h4>
      <ol>
        <li>Open a new tab to search exhibits.</li>
        <li>
          For an identified exhibit, in its detail page copy and paste exhibit
          Id to the below JSON editor.
        </li>
      </ol>

      <div class="row pad">
        <playlist-config-editor
          config="$ctrl.config"
          on-update="$ctrl.updateConfig(config)"
        ></playlist-config-editor>
        <br />
      </div>

      <div
        class="text-center callout secondary"
        ng-if="$ctrl.authentication.isAuthorized"
      >
        <h4>Create this playlist</h4>
        <button class="button warning" ng-click="$ctrl.save()">
          <angularjs-feather icon="save"></angularjs-feather>
          Save
        </button>
      </div>

      <div class="section">
        <button class="button hollow" ng-click="$ctrl.goToPlaylists()">
          <angularjs-feather icon="arrow-left"></angularjs-feather>
          Back to search
        </button>
      </div>
    </section>
  </div>
</main>
